# YouTube Video Downloader

A simple Python script to download YouTube videos in HD 1080p format.

## Features
- Downloads YouTube videos in 1080p (if available).
- Falls back to the highest resolution if 1080p is unavailable.
- Does not support downloading playlists.

## Requirements
- Python 3.6 or higher
- `pytube` library

## Installation
1. Clone the repository:
   ```bash
   git clone https://github.com/Nazeer499/youtube_downloader.git
   cd youtube_downloader
